.button-holder {
  z-index: 600;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
}

.about-button {
  font-size: 40px;
  line-height: 50px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  vertical-align: center;
  background-color: white;
  cursor: pointer;
  color: white;
  background-color: #333;
}
.about-button:hover {
  color: #333;
  background-color: white;
}

.modal-background {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  opacity: 0;
  transition: opacity .33s ease;
}

.modal--opened .modal-background {
  opacity: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: justify;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal h1 {
  margin-top: 0;
}
.modal-close-button {
  cursor: pointer;
  position: sticky;
  top: 5px;
  margin-right: 0;
  margin-left: auto;
  width: 25px;
  font-size: 25px;
  font-weight: bold;
}

.modal--opened {
  opacity: 1;
}
.modal--opened .modal-content {
  transform: translate(0,0);
}
.modal-content {
  overflow: auto;
  transition: transform .33s ease;
  transform: translate(0, 200vh);
  position: relative;
  width: 1024px;
  max-width: 100%;
  margin: auto;
  min-height: 500px;
  max-height: 90vh;
  background-color: rgb(255,255,255);
}
.modal-content-container {
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
}


@media screen and (max-width: 600px){
  .modal-close-button {
    margin-right: -25px;
  }
}
